*{
	box-sizing: border-box;
	margin:0 auto;
	font-family: lato;
}

.button{
	margin: 10px 5px;
	float: left;
	width: 19%;
	height: 300px;
	background-color: #FBFBFB;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #999;
	color: #747474;
	padding: 30px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

i{
	font-size: 50px;
}

h3{
	margin: 20px;
}

h5{
	font-style: italic;
	margin-bottom: 20px;
}
.button:hover {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	color: #B9C7E1;
	font-size: 100%;
	font-family: verdana;
}


}